.total-study-time{
  font-size: 40px;
  text-align: center;
}
.total-time{
  font-size: 100px;
  margin-left: 5px;
  margin-right: 5px;
}
.total-time, .total-time-unit{
  transform: translateX(14px);
  display: inline-block;
}
.total-room{
  font-size: 20px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.total-room-num{
  font-size: 30px;
  border:1px solid black;
  padding:5px 10px;
  float:right;
  overflow:hidden;
}
.room-container{
  margin-top: 20px;
}
.room{
  margin-top: 0;
}
.task-table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.task-table tbody{
  display: block;
}
.task-container {
  margin-top: 50px;
}
.task-table .table-title{
  text-align: left;
  font-size: 20px;
}
.table-title .icon-arrow{
  font-size: 16px;
  display: none;
}
.icon-arrow.is-active{
  display: inline-block;
}
.task-table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
.task-table tr:first-child{
  border-top: solid 1px #eee;

}
.task-table tr:hover{
  background-color: rgb(164 164 164 / 10%);
}

.task-table th,.task-table td{
  width: 25%;
  padding: 10px 0;
}

@media only screen and (max-width:600px) {
  .task-container{
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
  }
  .task-table{
    width: 100%;
  }
  .task-table .table-title{
    font-size: 16px;
  }
  .total-time{
    font-size: 50px;
  }
  .total-study-time{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .total-room{
    margin-left: 10px;
    font-size: 16px;
    width: auto;
  }
  .total-room .total-room-num{
    font-size: 20px;
    transform: translateY(-7.5px);
  }
  .task-table th,.task-table td{
    font-size: 14px;
    padding: 10px 0;
  }
}