#
# task-live WEB APP
#
# Copyright 2021 task-live.com
#
# task-live.com is an app that supports all people's tasks. The world has changed a lot with Corona. On the negative side, we no longer have to meet in person. On the positive side, we can now handle tasks from any location. Our goal is to create a space where people can actually meet and work on tasks together.
#
# AUTHOR:   asTom
# CREATE:   Wed Nov 16 2021
# REVISION:
#


#
# Logs
#
logs
*.log
php.log*
yarn-debug.log*
yarn-error.log*

#
# package.json derivative
#
package-lock.json



#
# yarn.lock derivative
#
yarn.lock



#
# Dependency directories
#
node_modules/

#
# Optional npm cache directory
#
.npm

#
# dotenv environment variables file
#
.env

#
# Log directory
#
log
logs
